<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            {{ sidebar_footer|raw }}
        </div>

        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-social">
                        {{ add_social("facebook", "fab fa-facebook-f")|raw }}
                        {{ add_social("instagram", "fab fa-instagram")|raw }}
                        {{ add_social("twitter", "fab fa-twitter")|raw }}
                        {{ add_social("linkedin", "fab fa-linkedin-in")|raw }}
                    </div>
                </div>

                <div class="col-md-8 text-md-right">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section end -->



<!-- return top -->
<div class="back-to-top"><img src="{{ theme.link ~ '/assets/images/icons/up-arrow.png' }}" alt=""></div>