{{ args.before_widget|raw }}

    <div class="about-widget">
        {% if theme.theme_mod('logo_footer') is not empty %}
            <img src="{{ theme.theme_mod('logo_footer') }}" alt="">
        {% endif %}

        <p>{{ instance.content }}</p>
        <ul>
            <li><i class="material-icons">phone</i>{{ phone_number(club_settings.phone) }}</li>
            <li><i class="material-icons">email</i>{{ club_settings.email }}</li>
            <li><i class="material-icons">map</i>{{ address(",") }}</li>
        </ul>
    </div>
{{ args.after_widget|raw }}