{% extends "base.twig" %}

{% block body %}
    {% include "parts/top_section.twig" with { "title": wp_title, "intro": theme.theme_mod("intro_blog")  } %}

	<!-- Service Section -->
	<section class="service-section spad">
		<div class="container">
			<div class="row">
                {% for service in services %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="about-item icon-box">
                            <div class="ai-icon">
                                {% if service.thumbnail.src is not null %}
                                    <img src="{{ service.thumbnail.src }}" alt="">
                                {% endif %}
                            </div>
                            <div class="ai-text">
                                <h4>{{ service.title }}</h4>
                                <p>{{ service.content|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
    <!-- Service Section end -->


	<!-- What we do Section -->
	<section class="wwd-section spad set-bg">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 ml-auto">
					<div class="wwd-text">
						<h3>{{ post.wwd_title }}</h3>
						<p>{{ post.wwd_intro }}</p>

						<div class="single-progress-item">
							<p>{{ __("Breathing", "ahana") }}</p>
							<div class="progress-bar-style" data-progress="{{ post.wwd_skills_wwd_breathing }}"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>{{ __("Metabolism", "ahana") }}</p>
							<div class="progress-bar-style" data-progress="{{ post.wwd_skills_wwd_metabolism }}"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>{{ __("Flexibility", "ahana") }}</p>
							<div class="progress-bar-style" data-progress="{{ post.wwd_skills_wwd_flexibility }}"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>{{ __("Strongness", "ahana") }}</p>
							<div class="progress-bar-style" data-progress="{{ post.wwd_skills_wwd_strongness }}"  data-bgcolor="#f76d63"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- What we do Section end -->


	<!-- Trainer Section -->
	<section class="trainer-section overflow-hidden spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="{{ theme.link ~ '/assets/images/icons/logo-icon.png' }}" alt="">
				<h2>{{ post.trainer_title }}</h2>
				<p>{{ post.trainer_subtitle }}</p>
			</div>

			<div class="trainer-slider owl-carousel">
				{% for trainer in trainers %}
					<div class="ts-item">
						{% include "parts/trainers-list.twig" with { trainer: trainer } %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Trainer Section end -->


	<!-- Review Section -->
	<section class="review-section spad set-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 m-auto">
					<div class="review-slider owl-carousel">
						{% for testimonial in testimonials %}
							<div class="review-item">
								<div class="ri-img">
									{% if testimonial.thumbnail.src is not null %}
										<img src="{{ testimonial.thumbnail.src | resize("testimonial_thumbnail") }}" alt="">
									{% endif %}
								</div>
								<div class="ri-text text-white">
									<p>{{ testimonial.content | raw }}</p>
									<h4>{{ testimonial.testimonial_name }}</h4>
									<h6>{{ testimonial.testimonial_job }}</h6>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review Section end -->
{% endblock body %}