{% extends "base.twig" %}

{% block body %}
	<!-- Page top Section -->
	<section class="page-top-section set-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>{{ wp_title }}</h2>
					<p>{{ theme.theme_mod("intro_blog") }}</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->



	<!-- Events Section -->
	<section class="events-page-section spad">
		<div class="container">
			<div class="row">
				{% for post in posts %}
					<div class="col-lg-4 col-md-6">
						<div class="blog-item">
							{% if post.thumbnail.src is not null %}
								<img src="{{ post.thumbnail.src | resize("post_thumbnail") }}" alt="">
							{% else %}
								<img src="{{ theme.link ~ '/assets/images/blog/default-370-252.jpg' }}" alt="">
							{% endif %}
							<div class="bi-text">
								<h2><a href="{{ post.link }}">{{ post.title}}</a></h2>
								<p>{{ post.preview.length(20).read_more(false)|raw }}</p>
							</div>
							<div class="bi-footer">
								<div class="bi-cata">{{ category_by_post(post)|raw }}</div>
								<div class="bi-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="site-pagination pt-3">
				{{ paginate_links_posts_list()|raw }}
			</div>
		</div>
	</section>
	<!-- Events Section end -->
{% endblock body %}