{% extends "base.twig" %}

{% block body %}
    {% include "parts/top_section.twig" with { "title": wp_title, "intro": theme.theme_mod("intro_blog")  } %}


	<!-- Classes Details Section -->
	<section class="classes-details-section spad overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="classes-details">
						<div class="classes-preview">
							{% if post.thumbnail.src is not null %}
                                <img src="{{ post.thumbnail.src | resize("classes_single") }}" alt="">
                            {% endif %}
						</div>
						<div class="row">
							<div class="col-lg-8">
								<h2>{{ post.title }}</h2>
								<div class="cd-meta"><p><i class="material-icons">alarm_on</i>{{ get_post_meta(post.ID, "time_to_read", true) ~ __(" Mins", "ahana") }}</p></div>
								<div class="cd-meta"><p><i class="material-icons">people_outline</i>{{ sprintf(_n("Limited to %s person", "Limited to %s people", post.classes_number, "ahana"), post.classes_number) }}</p></div>
							</div>
							<div class="col-lg-4 text-left text-md-right">
								<div class="cd-price">{{ "$" ~ post.classes_price }}</div>
							</div>
                        </div>
                        {{ post.content|raw }}
                        <div class="row">
							<div class="col-sm-7">
								<div class="cd-cata"><p><i class="material-icons">local_offer</i>{{ category_by_post(post)|raw }}</p></div>
							</div>
							<!-- <div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">
								<div class="cd-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div> -->
						</div>
                    </div>
                    
                    <!-- featured classes -->
					<h3 class="comment-title">{{ theme.theme_mod("title_classes_section") }}</h3>
					<div class="classes-other-slider owl-carousel">
                        {% for item in classes %}
                            {% include "parts/classes-list.twig" with { post: item } %}
                        {% endfor %}
                    </div>

					<!-- comments -->
					<ul class="comments-area">
						<h3 class="comment-title">{{ __("Comments", "ahana") }}</h3>
						<ul class="comment-list">
						{% for comment in post.comments %}
							{% include "parts/comment.twig" %}
						{% endfor %}
					</ul>

					{{ comment_form() }}
				</div>

				<!-- Sidebar -->
				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
					{{ sidebar_classes_single|raw }}
				</div>
			</div>
		</div>
	</section>
	<!-- Classes Details Section end -->
{% endblock body %}