{{ args.before_widget|raw }}

    {{ args.before_title|raw }}
        {{ instance.title }}
    {{ args.after_title|raw }}

    <div class="latest-post-widget">
        {% for post in posts %}
            <div class="lp-item">
                <div class="lp-thumb set-bg">
                    {% if post.thumbnail.src is not null %}
                        <img src="{{ post.thumbnail.src("post_thumbnail_widget") }}" alt="">
                    {% else %}
                        <img src="{{ theme.link ~ '/assets/images/blog/default-86-68.jpg' }}" alt="">
                    {% endif %}
                </div>

                <div class="lp-text">
                    <a href="{{ post.link }}"><h3>{{ post.title|chars(10)  }}</h3></a>
                    {% if date is same as (true) %}
                        <p><i class="material-icons">event_available</i>{{ post.date }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{{ args.after_widget|raw }}